<!DOCTYPE html>
<html>

<head>
  <title>Next Store API Documentation</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
  <section id="User">
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item Home">
              <a class="nav-link" aria-current="page" href='https://next-store-api-62m2.onrender.com/doc'>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link Product" href="https://next-store-api-62m2.onrender.com/doc/product">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link User" href="https://next-store-api-62m2.onrender.com/doc/user">User</a>
            </li>
            <li class="nav-item">
              <a class="nav-link Cart" href="https://next-store-api-62m2.onrender.com/doc/cart">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link Address" href="https://next-store-api-62m2.onrender.com/doc/address">Address</a>
            </li>
            <li class="nav-item">
              <a class="nav-link Order" href="https://next-store-api-62m2.onrender.com/doc/order">Order</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <h1>User Routes</h1>
      <h3 class="margin">Users route features and usage:</h3>
      <ul>
        <li>Name must be passed as first name and last name only.</li>
        <li>Password must contain at least eight character.</li>
        <li>Email must be a valid email address format and unique.</li>
        <li>Token is valid for one hour and is returned by the API with user id in a JSON object.</li>
        <li>A complete JSON contaning all fields and values must be passed to the API.</li>
      </ul>
      <br />
      <div class="endpoint">
        <h2 class="post">POST /register</h2>
        <p>Registers a new user. </p>
        <div class="example">
          <p><strong>Example request:</strong></p>
          <div class="request">
            <code><span class="post">POST</span> https://next-store-api-62m2.onrender.com/user/new</code>
            <br />
            <br />
            <p><strong>Request body:</strong></p>
            <pre><code>{
     "first_name": "Stephen",
     "last_name":"King",
     "email_address":"stephenking@lorem.com",
     "password":"12345678"
}</code></pre>
          </div>
          <p><strong>Example response <span class="get">201</span>:</strong></p>
          <div class="response">
            <pre><code>{
    "first_name": "Stephen",
    "last_name": "King",
    "email_address": "stephenking@lorem.com",
    "password": "$2a$12$xQOnXn.CQ5L.wOhGEwClYOBJz2EWsBxNjKQnoTeMeGaxZGaNJtSEO",
    "id": "4o40o1vlyltmkxk",
    "created_at": "18-07-2024h16:26:09",
   <span style="color:black;"> "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InN0ZXBoZW5raW5nQGxvcmVtLmNvbSIsImlhdCI6MTcyMDk3NzU5NywiZXhwIjoxNzIwOTgxMTk3fQ.YyJ35C73_1hULnTJfszzZmj3I2kSlNQnRDp2nHrhug8"</span>
}</code></pre>
          </div>
          <strong>Example response <span class="delete">404 / 500</span>:</strong>
          <div class="response">
            <pre><code>{ message: "Incomplete Body" }</code></pre>
            <pre><code>{ message: "Email already registered"}</code></pre>
            <pre><code>{ message: "Name is not valid. Make sure to enter first and last name only"}</code></pre>
            <pre><code>{ message: "Email is not valid"}</code></pre>
            <pre><code>{ message: "Password must contain at least eight character"}</code></pre>
          </div>
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="endpoint">
        <h2 class="post">POST /retrieve</h2>
        <p>Retrieve an existing user. </p>
        <div class="example">
          <p><strong>Example request:</strong></p>
          <div class="request">
            <code><span class="post">POST</span> https://next-store-api-62m2.onrender.com/user/get</code>
            <br />
            <br />
            <p><strong>Request body:</strong></p>
            <pre><code>{
     "email_address":"stephenking@lorem.com",
     "password":"12345678"
}</code></pre>
          </div>
          <br />
          <p><strong>Example response <span class="get">200</span>:</strong></p>
          <div class="response">
            <pre><code>{
    "first_name": "Stephen",
    "last_name": "King",
    "email_address": "stephenking@lorem.com",
    "password": "$2a$12$xQOnXn.CQ5L.wOhGEwClYOBJz2EWsBxNjKQnoTeMeGaxZGaNJtSEO",
    "id": "4o40o1vlyltmkxk",
    "created_at": "18-07-2024h16:26:09",
   <span style="color:black;"> "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InN0ZXBoZW5raW5nQGxvcmVtLmNvbSIsImlhdCI6MTcyMDk3NzU5NywiZXhwIjoxNzIwOTgxMTk3fQ.YyJ35C73_1hULnTJfszzZmj3I2kSlNQnRDp2nHrhug8"</span>
}</code></pre>
          </div>
          <br />
          <strong>Example response <span class="delete">404 / 500</span>:</strong>
          <div class="response">
            <pre><code>{ message: "Incomplete Body" }</code></pre>
            <pre><code>{ message: "Wrong password"}</code></pre>
            <pre><code>{ message: "Could not find user"}</code></pre>
          </div>
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="endpoint">
        <h2 class="patch">PATCH /user detail</h2>
        <p>Update user data. </p>
        <div class="example">
          <p><strong>Example request:</strong></p>
          <div class="request">
            <code><span class="patch">PATCH</span> https://next-store-api-62m2.onrender.com/user</code>
            <br />
            <br />
            <p><strong>Request body:</strong></p>
            <pre><code>{
    "id": "4o40o1vlyltmkxk",
    "first_name":"Stephen" , 
    "last_name":"King",
    "email_address":"stephenking@lorem.com"
}</code></pre>
          </div>
          <br />
          <p><strong>Example response <span class="get">201</span>:</strong></p>
          <div class="response">
            <pre><code> { message: "Updated user detail with id XXXX"}</code></pre>
          </div>
          <br />
          <strong>Example response <span class="delete">404 / 500</span>:</strong>
          <div class="response">
            <pre><code>{ message: "Incomplete Body" }</code></pre>
            <pre><code>{ message: "Could not update user with id XXXX"}</code></pre>
            <pre><code>{ message: "This email has been used by an other user or user id is incorrect"}</code></pre>
            <pre><code>{ message: "Name is not valid. Make sure to enter first and last name only"}</code></pre>
            <pre><code>{ message: "Email is not valid"}</code></pre>
          </div>
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="endpoint">
        <h2 class="patch">PATCH /user password</h2>
        <p>Update user password. </p>
        <div class="example">
          <p><strong>Example request:</strong></p>
          <div class="request">
            <code><span class="patch">PATCH</span> https://next-store-api-62m2.onrender.com/user/password</code>
            <br />
            <br />
            <p><strong>Request body:</strong></p>
            <pre><code>{
        "id": "4o40o1vlyltmkxk",
        "password":"87654321"
    }
  </code></pre>
          </div>
          <br />
          <p><strong>Example response <span class="get">201</span>:</strong></p>
          <div class="response">
            <pre><code> { message: "Updated user detail with id XXXX"}</code></pre>
          </div>
          <br />
          <strong>Example response <span class="delete">404 / 500</span>:</strong>
          <div class="response">
            <pre><code>{ message: "Incomplete Body" }</code></pre>
            <pre><code>{ message: "Could not update user with id XXXX"}</code></pre>
            <pre><code>{ message: "Password must contain at least eight character"}</code></pre>
          </div>
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="endpoint">
        <h2 class="delete">DELETE /user</h2>
        <p>Delete an existing user.</p>
        <div class="example">
          <p><strong>Example request:</strong></p>
          <div class="request">
            <code><span class="delete">DELETE</span> https://next-store-api-62m2.onrender.com/user</code>
            <br />
            <br />
            <p><strong>Request body:</strong></p>
            <pre><code>{"id": "4o40o1vlyltmkxk"}</code></pre>
          </div>
          <br />
          <p>Example response <span class="get">200</span>:</p>
          <div class="response">
            <pre><code>{ message: "Deleted user with id XXXX" }</code></pre>
          </div>
        </div>
        <br />
        <strong>Example response <span class="delete">404 / 500</span>:</strong>
        <div class="response">
          <pre><code>{ message: "Incomplete Body" }</code></pre>
          <pre><code>{ message: "Could not delete user with id XXXX"}</code></pre>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="../js/script.js"></script>
</body>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 <a
        href="https://thiago-freitas-portfolio.vercel.app/">Thiago Ando de Freitas</a></span>
  </footer>
</div>

</html>